<!DOCTYPE html>
<html lang="en">
<head>
    <title>About us</title>
   <link rel="stylesheet" href="../static/aboutus.css">
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="about-section">
   <div class="img-container-block" >
        <img src="../static/image/logo_virtualgym.png"  alt="logo">
    </div>
  <br>
  <h1>VIRTUALGYM About us page</h1>
</div>
<hr>
<p> <ul>
  <li><a  href="/"><h1>HOME</h1></a></li>
  <li><a href="/orari"><h1>ORARI</h1></a></li>
  <li><a href="/aboutus"><h1>ABOUT US</h1></a></li>
</ul> </p>
<hr>
<p style="text-align:center"><h1>La nostra idea parte dal volere creare una palestra virtuale in grado di accogliere persone che per motivi personali in un modo
  o nell'altro non possono, a causa della recente pandemia causata dal COVID-19, o non vogliono, per motivi personali,
  andare fisicamente in una qualunque palestra di citta'.
  e a questo punto che entra in gioco la nostra idea, noi siamo 3 giovani studenti dell'universita' degli studi di napoli parthenope,
  abbiamo creato questo sito web per soddisfare nel momento del bisogno una dell'attivita' piu' ricercate al momento, l'attivita fisica</h1><h1 style="text-align:center">pain is weakness leaving your body</h1></p>
<h2 style="text-align:center">IL TEAM DEROCEIN</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="../static/image/salvatore.png" alt="Salvatore" style="width:100%">
      <div class="container">
        <h2>Salvatore de rosa</h2>
        <p class="title">html5 developer</p>
        <p>e' uno studente dell'universita' parthenope indirizzo scienze e tecnologie
		la sua matricola e' : 0124001981</p>
        <p><a href= "mailto:salvatore.derosa005@studenti.uniparthenope.it">Contatto mail</a></p>
		<p><a href="">Contatto GitHub</a></p>
      </div>
    </div>
  </div>
 

  <div class="column">
    <div class="card">
      <img src="../static/image/mario.jpg" alt="Mario" style="width:100%">
      <div class="container">
        <h2>Mario de leo</h2>
        <p class="title">css,flask,mongodb developer</p>
        <p>e' uno studente dell'universita' parthenope indirizzo scienze e tecnologie
		la sua matricola e' : 0124001945</p>
        <p><a href= "mailto:mario.deleo001@studenti.uniparthenope.it">Contatto mail</a></p>
		<p><a href="">Contatto GitHub</a></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="../static/image/vincenzo.png" alt="Vincenzo" style="width:100%">
      <div class="container">
        <h2>Vincenzo Terracciano</h2>
        <p class="title">leaflet,JavaScript,Jquery developer</p>
        <p>e' uno studente dell'universita' parthenope indirizzo scienze e tecnologie
		la sua matricola e' : 0124001862</p>
        <p><a href= "mailto:vincenzo.terracciano003@studenti.uniparthenope.it">Contatto mail</a></p>
		<p><a href="">Contatto GitHub</a></p>
      </div>
    </div>
  </div>
</div>
<div id = "map" style = "width: 900px; height: 580px"></div>
			<script>
			// Opzioni per la mappa (serve per prendere le coordinate del centro direzionale, zoom serve per zoommare la mappa)
         var mapOptions = {
            center: [40.8568666, 14.2843392],
            zoom: 70
         }
         
         // Creazione di un oggetto mappa
         var map = new L.map('map', mapOptions);
         
         // Creazione di un oggetto layer (sito di default per le mappe)
         var layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
         
         // Aggiungo il layer alla mappa
         map.addLayer(layer);
		          // Creo un marker per identificare la sede Marker
         var markerOptions = {
            title: "Sede del Centro Direzionale (isola C4)",
            clickable: true,
            draggable: true
         }
		          // Creating un altro marker con le coordinate della nostra sede
         var marker = L.marker([40.8568666, 14.2843392]);
         marker.bindPopup('Questa è la nostra sede! La sede del Centro Direzionale (isola C4)').openPopup();
         // Infine aggiungo il marker alla nostra mappa!
         marker.addTo(map);
		 </script>
</body>
</html>