<html lang="en">
<head>
    <link href="video.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DIMOSTRAZIONE ESERCIZI</title>
	
</head>
<body> 
<div class='header'>
<div style="position: absolute; top: 15; left: 835;">
<img src="logo_virtualgym.png" class='logo'>
</div>
</div>
<hr>
</hr>
<p> <ul>
  <li><a  href="homepage.html"><h1>HOME</h1></a></li>
  <li><a href="orari.html"><h1>ORARI</h1></a></li>
  <li><a href="aboutus.html"><h1>ABOUT US</h1></a></li>
</ul> </p>
<hr>
</hr>
<div style="text-align:center"> 
  <button onclick="playPause()">Play/Pause</button> 
  <button onclick="makeBig()">Big</button>
  <button onclick="makeSmall()">Small</button>
  <button onclick="makeNormal()">Normal</button>
  <br>
  <video id="video1" width="420">
    <source src="Bad tapis roulant.mp4" type="video/mp4">
    Your browser does not support HTML video.
  </video>
</div> 
<script> 
var myVideo = document.getElementById("video1"); 

function playPause() { 
  if (myVideo.paused) 
    myVideo.play(); 
  else 
    myVideo.pause(); 
} 

function makeBig() { 
    myVideo.width = 560; 
} 

function makeSmall() { 
    myVideo.width = 320; 
} 

function makeNormal() { 
    myVideo.width = 420; 
} 
</script> 
</body>
</html>