<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="../static/video.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>DIMOSTRAZIONE ESERCIZI</title>
	
</head>
<body>
<div class='header'>
    <div class="img-container-block" >
        <img src="../static/image/logo_virtualgym.png" style="margin-top: 0.5%" alt="logo">
    </div></div>
<hr>
<p> <ul>
  <li><a  href="/"><h1>HOME</h1></a></li>
  <li><a href="/orari"><h1>ORARI</h1></a></li>
  <li><a href="/aboutus"><h1>ABOUT US</h1></a></li>
</ul> </p>
<hr>
<p><h1>Questa e' la sezione "dimostrazione video", in questa sezione troverai tutti i video riguardanti le schede degli esercizi che trovi <a href="/schede">QUI</a></h1></p>
<div style align="center">
    <div>
        <h5>Shoulder flexion con bande</h5>
    <button onclick="makeBig()">Grande</button>
  <button onclick="makeSmall()">Piccolo</button>
  <button onclick="makeNormal()">Normale</button>
        <br>
  <video id="video1" width="420" controls>
    <source src="../static/video/Banded_Shoulder_Flexion_(mutato).mp4" type="video/mp4">
    Your browser does not support HTML video.
  </video>
        <br>
        <h5>Uppercuts con bande</h5>
    <button onclick="makeBig1()">Grande</button>
  <button onclick="makeSmall1()">Piccolo</button>
  <button onclick="makeNormal1()">Normale</button>
        <br>
  <video id="video2" width="420" controls>
    <source src="../static/video/Banded_Uppercuts_(mutato).mp4" type="video/mp4">
    Your browser does not support HTML video.
  </video>
        <br>
        <h5>Foam roller bench press con manubri</h5>
    <button onclick="makeBig2()">Grande</button>
  <button onclick="makeSmall2()">Piccolo</button>
  <button onclick="makeNormal2()">Normale</button>
        <br>
    <video id="video3" width="420" controls>
    <source src="../static/video/Dumbbell_Foam_Roller_Bench_Press_(mutato).mp4" type="video/mp4">
    Your browser does not support HTML video.
  </video>
        <br>
        <h5>Power raw con manubri</h5>
         <button onclick="makeBig3()">Grande</button>
  <button onclick="makeSmall3()">Piccolo</button>
  <button onclick="makeNormal3()">Normale</button>
        <br>
    <video id="video4" width="420" controls>
    <source src="../static/video/Dumbbell_Power_Row_(mutato).mp4" type="video/mp4">
    Your browser does not support HTML video.
  </video>
        <br>
        <h5>RDL lunge con manubri</h5>
         <button onclick="makeBig4()">Grande</button>
  <button onclick="makeSmall4()">Piccolo</button>
  <button onclick="makeNormal4()">Normale</button>
        <br>
    <video id="video5" width="420" controls>
    <source src="../static/video/Dumbbell_RDL_Lunge_(mutato).mp4" type="video/mp4">
    Your browser does not support HTML video.
  </video>
         <br>
        <h5>Single arm clean and jerk con manubri</h5>
         <button onclick="makeBig5()">Grande</button>
  <button onclick="makeSmall5()">Piccolo</button>
  <button onclick="makeNormal5()">Normale</button>
        <br>
    <video id="video6" width="420" controls>
    <source src="../static/video/Dumbbell_Single_Arm_Clean_and_Jerk_(mutato).mp4" type="video/mp4">
    Your browser does not support HTML video.
  </video>
         <br>
        <h5>Squat press con manubri</h5>
         <button onclick="makeBig6()">Grande</button>
  <button onclick="makeSmall6()">Piccolo</button>
  <button onclick="makeNormal6()">Normale</button>
        <br>
    <video id="video7" width="420" controls>
    <source src="../static/video/Dumbbell_Squat_Press_(mutato).mp4" type="video/mp4">
    Your browser does not support HTML video.
  </video>
         <br>
        <h5>Incline fly con manubri</h5>
         <button onclick="makeBig7()">Grande</button>
  <button onclick="makeSmall7()">Piccolo</button>
  <button onclick="makeNormal7()">Normale</button>
        <br>
    <video id="video8" width="420" controls>
    <source src="../static/video/Incline_Dumbbell_fly_(mutato).mp4" type="video/mp4">
    Your browser does not support HTML video.
  </video>
         <br>
        <h5>Overhead wide press con manubri</h5>
         <button onclick="makeBig8()">Grande</button>
  <button onclick="makeSmall8()">Piccolo</button>
  <button onclick="makeNormal8()">Normale</button>
        <br>
    <video id="video9" width="420" controls>
    <source src="../static/video/OverheadWideDumbbellPress(mutato).mp4" type="video/mp4">
    Your browser does not support HTML video.
  </video>
         <br>
        <h5>TRX bicep curls</h5>
         <button onclick="makeBig9()">Grande</button>
  <button onclick="makeSmall9()">Piccolo</button>
  <button onclick="makeNormal9()">Normale</button>
        <br>
    <video id="video10" width="420" controls>
    <source src="../static/video/TRXBicepCurls(mutato).mp4" type="video/mp4">
    Your browser does not support HTML video.
  </video>
         <br>
        <h5>TRX plank</h5>
         <button onclick="makeBig10()">Grande</button>
  <button onclick="makeSmall10()">Piccolo</button>
  <button onclick="makeNormal10()">Normale</button>
        <br>
    <video id="video11" width="420" controls>
    <source src="../static/video/TRXPlank(mutato).mp4" type="video/mp4">
    Your browser does not support HTML video.
  </video>
        </div>

</div> 
<script> 
var myVideo = document.getElementById("video1");

function makeBig() {
    myVideo.width = 560;
}

function makeSmall() {
    myVideo.width = 320;
}

function makeNormal() {
    myVideo.width = 420;
}
var myVideo1 = document.getElementById("video2");

function makeBig1() {
    myVideo1.width = 560;
}

function makeSmall1() {
    myVideo1.width = 320;
}

function makeNormal1() {
    myVideo1.width = 420;
}
var myVideo2 = document.getElementById("video3");

function makeBig2() {
    myVideo2.width = 560;
}

function makeSmall2() {
    myVideo2.width = 320;
}

function makeNormal2() {
    myVideo2.width = 420;
}
var myVideo3 = document.getElementById("video4");

function makeBig3() {
    myVideo3.width = 560;
}

function makeSmall3() {
    myVideo3.width = 320;
}

function makeNormal3() {
    myVideo3.width = 420;
}
var myVideo4 = document.getElementById("video5");

function makeBig4() {
    myVideo4.width = 560;
}

function makeSmall4() {
    myVideo4.width = 320;
}

function makeNormal4() {
    myVideo4.width = 420;
}
var myVideo5 = document.getElementById("video6");

function makeBig5() {
    myVideo5.width = 560;
}

function makeSmall5() {
    myVideo5.width = 320;
}

function makeNormal5() {
    myVideo5.width = 420;
}
var myVideo6 = document.getElementById("video7");

function makeBig6() {
    myVideo6.width = 560;
}

function makeSmall6() {
    myVideo6.width = 320;
}

function makeNormal6() {
    myVideo6.width = 420;
}
var myVideo7 = document.getElementById("video8");

function makeBig7() {
    myVideo7.width = 560;
}

function makeSmall7() {
    myVideo7.width = 320;
}

function makeNormal7() {
    myVideo7.width = 420;
}
var myVideo8 = document.getElementById("video9");

function makeBig8() {
    myVideo8.width = 560;
}

function makeSmall8() {
    myVideo8.width = 320;
}

function makeNormal8() {
    myVideo8.width = 420;
}
var myVideo9 = document.getElementById("video10");

function makeBig9() {
    myVideo9.width = 560;
}

function makeSmall9() {
    myVideo9.width = 320;
}

function makeNormal9() {
    myVideo9.width = 420;
}
var myVideo10 = document.getElementById("video11");

function makeBig10() {
    myVideo10.width = 560;
}

function makeSmall10() {
    myVideo10.width = 320;
}

function makeNormal10() {
    myVideo10.width = 420;
}


</script> 
</body>
</html>